rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    //ログインしているか、していればtrue、していなければfalse
    function isAuthenticated() {
      return request.auth != null;
    }
    //製作者か否か
    //データベースの形式を考えないとこれが意味をなさない
    match /memos/{memoId} {
      //readは誰でもwrite,update,createは認証している人のみ
      allow read: if true;
      allow write, update, create: if isAuthenticated();
    }
  }
}